body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }

  .sidebar {
    background-color: #343a40;
    color: #fff;
    height: 100vh;
    padding: 20px;
    border-right: 3px solid black;
  }

  .sidebar h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .sidebar-nav {
    list-style: none;
    padding: 0;
  }

  .sidebar-nav li {
    margin-bottom: 10px;
  }

  .sidebar-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    
  }

  .sidebar-nav a:hover {
    color: #ffc107;
  }
  .nav-link{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    text-align: center;
  }

  .nav-link:hover {
    background-color: #dcdcdc;
    border-radius: 5px; 
  }

  .content {
    padding: 20px;
    border-left: 3px solid black;
    background-color: #ffffff;
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-links {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .page-links a {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #007bff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .page-links a:hover {
    background-color: #84b0df;
    color: #fff;
  }

  .page-current a {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #c3e0ff;
    color: #fff;
    text-decoration: none;
  }
  .navbar-brand{
    margin-top: 5px;
  }