{% extends "base.html" %}

{% block content %}

    <style>
        #map { height: 400px; }
    </style>
<body>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>ATM 過濾器</h2>
                    </div>
                    <div class="card-body">
                        <form method="GET">
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary btn-block">送出</button>
                        </form>
                    </div>    
                </div> 
            </div> 
        </div>
    </div>

    {% if atms.data %}
    <h2>利用leaflet.js繪製</h2>
    <div id="map"></div>
        <h2>符合的結果:{{atms.atm_count}}筆</h2>
        <h4>如果atm數量>1000 將只會顯示1000筆</h4>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>銀行</th>
                <th>地區</th>
                <th>地址</th>
                <th>營業時間</th>
                <th>電話</th>
              </tr>
            </thead>
            <tbody>
            {% for atm in atms.data %}
            <tr>
                <td><a href="{% url 'atm_detail' pk=atm.pk %}">{{ atm.id }}</a></td>  
                <td>{{ atm.atm_name }}</td>
                <td><a href="{% url 'city_detail' pk=atm.pk %}">{{ atm.city_town }}</a></td>  
                <td><a href="{% url 'address_detail' pk=atm.pk %}">{{ atm.address }}</a></td>
                <td>{{ atm.service_type }}</td>
                <td>{{ atm.phone }}</td>
              
                </tr>
            {% endfor %}
        </tbody>
        <table>
    {% else %}
    <p>沒有符合的ATM</p>
    {% endif %}
        
      </tbody>
      </table>

      
      <script>
          var map = L.map('map').setView([{{ atms.data.0.address.latitude }}, {{ atms.data.0.address.longitude }}], 13);
  
          // Add the base tile layer from OpenStreetMap
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);
  
          // Loop through your ATM data and add markers to the map
          {% for atm in atms.data %}
              L.marker([{{ atm.address.latitude }}, {{ atm.address.longitude }}]).addTo(map)
                  .bindPopup('{{ atm.city_town }}{{ atm.address }}');
          {% endfor %}
      </script>
</body>
{% endblock %}