{% extends "base.html" %}

{% block content %}
<style>
  .form-control1{
    margin-top: 10px;
  }
</style>

<div style="margin: 0 auto; width: 75%;"> 
  <form method="GET" action="{% url 'atms' %}">
    <div class="mb-3">
      <input type="text" class="form-control1" id="exampleInputEmail1" name="q" placeholder="搜索..." aria-describedby="emailHelp" value="{{ request.GET.q }}">
      <button type="submit" class="btn btn-primary">搜索</button>   
      <p>可以透過銀行、縣市、鄉鎮、地址查詢</p>
      <p>使用者可以透過ID來使用ATM</p>
    </div>
  </form>

  {% if atm_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>銀行</th>
        <th>地區</th>
        <th>地址</th>
        <th>營業時間</th>
        <th>電話</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in atm_list %}
      <tr>
        <td><a href="{% url 'atm_detail' pk=obj.pk %}">{{ obj.id }}</a></td>
        <td>{{ obj.atm_name }}</td>
        <td><a href="{% url 'city_detail' pk=obj.city_town.pk %}">{{ obj.city_town }}</a></td>
        <td><a href="{% url 'address_detail' pk=obj.address.pk %}">{{ obj.address }}</a></td>
        <td>{{ obj.service_type }}</td>
        <td>{{ obj.phone }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>There are no atm</p>
  {% endif %}
</div>
{% endblock %}
{% block pagination %}
{% if is_paginated %}
<div class="pagination-container">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="{{ request.path }}?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">第一頁</a></li>
        <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">上一頁</a></li>
        {% endif %}
        <li class="page-item disabled">
            <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">下一頁</a></li>
        <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">最後一頁</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}
