{% extends "base.html" %}
{% block content %}
<h2>atm總數:{{atm_count}}</h2>
<div style="display: flex; justify-content: center; align-items: center; height: 500px;">
    <canvas id="registrationChart" ></canvas>
</div>
    <script>
        var labels = {{ labels|safe }};
        var values = {{ values|safe }};
        var backgroundColors = {{ background_colors|safe }};
        var borderColors = {{ border_colors|safe }};

        var ctx = document.getElementById('registrationChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'ATM數量',
                    data: values,
                    backgroundColor: backgroundColors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

{% endblock %}