{% extends "base.html" %}
{% block content %}
<div class="card mb-4" style = "max-width: 25%; margin: 0 auto; margin-top: 10px; padding-top: 5px;">
    <h4>縣市詳細</h4>
    <p><strong>所屬縣市:</strong> {{ city }}</p>
    <p><strong>ATM數量:</strong> {{atm_count}}</p>
    <button onclick = "history.back()" class="btn btn-primary" >返回</button>
</div>

<div>
    <h4>所有地址</h4>
    <table class="table table-striped table-hover" style = "margin: 0 auto; width: 75%">
        <thead>
            <tr>
                <th>地址</th>
                <th>英文地址</th>
                <th>緯度</th>
                <th>經度</th>
            </tr>
        </thead>
        <tbody>
            {% for address in addresses %}
            <tr>
                <td><a href="{% url 'address_detail' address.pk %}">{{ city }}{{ address.address }}</a></td>
                <td>{{ address.english_address }}</td>
                <td>{{ address.latitude }}</td>
                <td>{{ address.longitude }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}