{% extends "base.html" %}
{% block content %}

<style>
    .container {
    display: flex;
    flex-direction: column; /* 使子元素垂直排列 */
    align-items: center; /* 子元素居中对齐 */
    margin: 20px; /* 设置容器的外边距 */
}

/* 样式设置 */
.atm-logo-container {
    text-align: center; /* 使图片和文字居中对齐 */
    margin-bottom: 20px; /* 设置与下面图片的间距 */
}



.atm-tooltip {
    margin-top: 10px; /* 设置文字与图片的间距 */
    font-size: 14px; /* 调整文字大小 */
}


</style>

{% load static %}
<div class="marquee">
    <h4>最新公告：歡迎訪問我們的銀行主頁！目前我們提供貸款優惠活動，詳情請諮詢客服。| 新聞：本行榮獲最佳客戶服務獎！</h4>
</div>
<h1>ATM主頁面</h1>

<div class="container" style = "margin: 0 auto;">
    <div class="atm-logo-container">
        <img src="{% static 'img/picture1.png' %}" alt="" class="atm-logo">
        <div class="atm-tooltip">我是本網站的看板娘</div>
    </div>
    <img src="{% static 'img/ermodel.png' %}" alt="" class="ermodel-image">
</div>

{% endblock %}