{% extends "base.html" %}
{% block content %}
<style>
    .card{
        margin-top: 10px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    }
    img{
        padding-top: 30px;
    }
    h4{
        margin-top: 15px;
    }
    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-group select {
        width: 200px; /* adjust the width to your liking */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    #currency:hover{
        background-color: aliceblue;
    }

    .form-group button[type="submit"] {
        background-color: #4CAF50; /* adjust the button color to your liking */
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .form-group button[type="submit"]:hover {
        background-color: #3e8e41; /* adjust the hover background color to your liking */
    }
</style>
{% load static %}

<form method="GET" action="{% url 'exchange_rate' %}">
    <div class="form-group">
      <label for="currency1">選擇貨幣：</label>
      <select id="currency" name="currency">
        <option value="USD">美元 USD</option>
        <option value="EUR">歐元 EUR</option>
        <option value="JPY">日元 JPY</option>
        <option value="CNY">人民幣 CNY</option>
        <option value="HKD">港幣 HKD</option>
        <option value="AUD">澳大利亞幣 AUD</option>
        <option value="NZD">紐西蘭幣 NZD</option>
        <option value="ZAR">南非幣 ZAR</option>
        <option value="CAD">加拿大幣 CAD</option>
        <option value="GBP">英鎊 GBP</option>
        <option value="CHF">瑞士法郎 CHF</option>
      </select>
      <button type="submit" class="btn btn-primary">查詢</button>
    </div>
    
  </form>
<div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/USD.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>美元USD</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>32.3500</td>
                <td>32.4500</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>32.3800</td>
                <td>32.4200</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>32.0700</td>
                <td>32.6700</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/EUR.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>歐元EUR</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>34.9400</td>
                <td>35.4400</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>35.0000</td>
                <td>35.3800</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>34.5100</td>
                <td>35.7900</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/JPY.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>日元JPY</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>0.2064</td>
                <td>0.2114</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>0.2074</td>
                <td>0.2104</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>0.2024</td>
                <td>0.2134</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/CNY.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>人民幣CNY</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>4.4300</td>
                <td>4.5050</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>4.4400</td>
                <td>4.4950</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>4.3300</td>
                <td>4.5250</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/HKD.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>港幣HKD</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>4.1120</td>
                <td>4.1820</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>4.1220</td>
                <td>4.1720</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>4.0320</td>
                <td>4.2220</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/AUD.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>澳大利亞幣AUD</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>21.3800</td>
                <td>21.6400</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>21.4100</td>
                <td>21.6100</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>--</td>
                <td>--</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/NZD.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>紐西蘭幣NZD</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>19.8200</td>
                <td>20.1200</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>19.8400</td>
                <td>20.1000</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>--</td>
                <td>--</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/ZAR.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>南非幣ZAR</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>1.6760</td>
                <td>1.7960</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>1.6810</td>
                <td>1.7910</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>--</td>
                <td>--</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/CAD.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>加拿大幣CAD</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>23.4800</td>
                <td>23.8800</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>23.5100</td>
                <td>23.8500</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>--</td>
                <td>--</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/GBP.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>英鎊GBP</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>41.1100</td>
                <td>41.7300</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>41.1700</td>
                <td>41.6700</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>--</td>
                <td>--</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/CHF.svg' %}" class="img-fluid rounded-start" alt="...">
        <h4>瑞士法郎CHF</h4>
      </div>
      <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="text-left">項目</th>
                <th scope="col">銀行買進</th>
                <th scope="col">銀行賣出</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td class="text-left">即期匯率</td>
                <td>36.1200</td>
                <td>36.6400</td>
              </tr>
              <tr>
                <td class="text-left">數位通路優惠匯率</td>
                <td>36.1500</td>
                <td>36.6100</td>
              </tr>
              <tr>
                <td class="text-left">現鈔匯率</td>
                <td>--</td>
                <td>--</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
{% endblock %}