<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>ATM</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous" />
    
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <h6 class="navbar-brand">使用者介面</h6>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'map' %}">ATM地圖</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'atms' %}">ATM列表</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'atm_filter' %}">ATM條件篩選</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                圖表
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'chart_atm' %}">ATM數量</a></li>
                <li><a class="dropdown-item" href="{% url 'chart_user' %}">使用者數量</a></li>
                <li><a class="dropdown-item" href="{% url 'chart_transaction' %}">交易金額</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ATM功能
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'register' %}">註冊</a></li>
                <li><a class="dropdown-item" href="{% url 'login' %}">登錄</a></li>
                <li><a class="dropdown-item" href="{% url 'deposit' %}">存錢</a></li>
                <li><a class="dropdown-item" href="{% url 'withdraw' %}">領錢</a></li>
                <li><a class="dropdown-item" href="{% url 'transfer' %}">轉帳</a></li>
                <li><a class="dropdown-item" href="{% url 'payment' %}">支付</a></li>
                <li><a class="dropdown-item" href="{% url 'customer_detail'%}">查看餘額</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                管理者
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'restart' %}">重新整理地圖</a></li>
                <li><a class="dropdown-item" href="#">atm 資料管理</a></li>
                <li><a class="dropdown-item" href="#">使用者 資料管理</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    
    
    <div class="container-fluid">
        <div class="row">         
          <div class="col-sm-11 " style="height: auto; text-align: center; ">
                
                {% block content %}{% endblock %}
                {% block pagination %}
                {% if is_paginated %}
                  <div class="pagination">
                    <span class="page-links">
                      {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="{{ request.path }}?page=1">第一頁</a></li>
                        <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">上一頁</a></li>
                      {% endif %}
                      <span class="page-current">
                        <li class="page-item"><a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>
                      </span>
                      {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">下一頁</a></li>
                        <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ paginator.num_pages }}">最後一頁</a></li>
                      {% endif %}
                    </span>
                  </div>
                {% endif %}
              {% endblock %}
          </div>
        </div>
    </div>
    <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>通過社交媒體與我們聯繫：</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://facebook.com" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://plus.google.com" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://instagram.com" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://linkedin.com" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>銀行名稱
          </h6>
          <p>
            您可信賴的金融合作伙伴，提供全面的銀行服務和金融解決方案，滿足您的所有財務需求。
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            產品
          </h6>
          <p>
            <a href="#!" class="text-reset">儲蓄帳戶</a>
          </p>
          <p>
            <a href="#!" class="text-reset">貸款</a>
          </p>
          <p>
            <a href="#!" class="text-reset">信用卡</a>
          </p>
          <p>
            <a href="#!" class="text-reset">投資理財</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            常用連結
          </h6>
          <p>
            <a href="#!" class="text-reset">帳戶管理</a>
          </p>
          <p>
            <a href="#!" class="text-reset">幫助中心</a>
          </p>
          <p>
            <a href="#!" class="text-reset">分行網點</a>
          </p>
          <p>
            <a href="#!" class="text-reset">隱私政策</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">聯繫我们</h6>
          <p><i class="fas fa-home me-3"></i> 台北市內湖區XX路123号</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            atm@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> (02) 1234-5678</p>
          <p><i class="fas fa-print me-3"></i> (02) 1234-9876</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
</footer>
<!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  </body>

</html>